/*Colors*/
$white: #FFFFFF;
$black: #000000;
$blacker: #0d0d0d;
$darkred: #8B0000;
$free-speech-red: #BA0000;
$lightred: #C60622;
$burgundy: #8A0000;
$grey: #414143;
$palegold: #C7B893;
$cream: #F7F1E4;
$rust: #99824D;
$limegreen: #9BF908;
$red: #FF0000;
$dim-grey: #747474;
$shady-grey: #666666;
$green: #008000;
$tan: #CEB793;
$venetian-red: #BD0102;
$carrot-orange: #F7931E;
$fruit-salad: #39B54A;
$nero: #1a1a1a;
$pohutukawa : #600413;
$burgundy: #810e1d;
$mintcream: #fafefd;
$oldlace: #f8f0e3;
$maroon: #700703;
$rustic-red: #3a0203;
$falu-red: #6d0e0c;
$mandarin-orange: #882927;
$alizarin: #ed1b24;
$medium-carmine: #ad3534;
$mild-black: #0f0d0e;
$eclipse: #3a3a3a;
$shady-eclipse: #3d3d3d;
$matterhorn: #4c4c4c;
$night-rider: #333333;
$whitesmoke: #f8f8f8;
$acadia: #32312f;
$whisper: #e9e9e9;
$cape-cod: #4c4e4d;
$romance: #f7f1e5;
$mountain-mist: #a6a39c;
$nobel: #999999;
$tinted-nobel: #a1a1a1;
$aubergine: #231f20;
$el-paso: #333331;
$pizza: #bc933b;
$bossanova: #4e474e;
$fallow: #c69c6c;
$cafe-royale: #744926;
$seal-brown: #4f0101;
$flamered: #8a2829;
$cloud: #bdbab5;
$gainsboro: #e3e3e3;
$tinted-rustic-red: #090001;
$shady-maroon: #750101;
$thatch: #a09291;
$barley-corn: #ab955c;
$tinted-shadow: #88774c;
$charcoal: #484848;
$clinker: #4d3507;
$haiti: #333237;
$celtic: #323433;
$mardi-gras: #292829;
$laser: #bda05e;
$coffee: #706755;
$fire-engine-red: #ca1b20;
$akaroa: #c5b790;
$slate-blue: #6e57e0;
$curious-blue: #428bca;
$navy-blue: #1278c7;
$lochmara: #3473b3;
$resolution-blue: #1b3776;
$egyptian-blue: #243c98;
$very-light-grey: #dedede;
$charcoal: #444;
$gun-powder: #515157;
$cerulean: #0064AA;
$very-light: #c7c7c7;
$midnight: #323232;
$gainsboro-2: #ddd;
$snow: #fafafa;
$army-blue: #0265B8;
$seizure: #ccc;