/*
Variables and constants
*/
// fictap.com.ph
$cdn-root: 'http://fictap.com.ph/'; // LOCAL

// assets
$cdn-img: 'http://fictap.com.ph/assets/images';

// blocks
$centered-margin: 0 auto;

// line
$body-line-height: 1.25;
$heading-line-height: 1.35;
$slogan-line-height: 1.40;

// letter spacing
$body-spacing: 1px;
$heading-spacing: 2px;

// headings
$main-heading-vertical-margin: 10px 0;
$main-heading-top-padding: 10px;

// header
$header-bottom-gap: 15px;

// nav
$nav-height: 80px;
$nav-brand-height: auto;
$nav-brand-padding: 10px 15px;

// slider
$slider-height: 400px;

// body
$section-padding: 30px 20px;
$section-bottom-gap: 10px;

// contents
$contents-margin-all: 0;
$contents-padding-all: 20px 0 0;

// footer
$footer-height: auto;
$footer-padding: 15px 0;