.banner {
	width: 100%;
	height: $slider-height;
	margin: 0;
	margin-bottom: $slider-bottom-gap;
	margin-top: 50px;
	position: relative;
	display: block;
	overflow: hidden;
	
	.item {
		display: block;
		
		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}
}