.special-section {
	margin: 0;
    padding: 20px 0;
    border: 0;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    display: block;
    position: relative;

    .event-container {
    	background: url('../images/section/18thcongress.jpg') no-repeat;
	    background-size: cover;
	    height: 100%;
	    width: 100%;
	    position: absolute;
    }

    .content-container {
    	padding-top: 35px;
    	padding-bottom: 30px;
    	position: relative;

    	h1 {
    		font-family: $montserrat-font-stack;
    		font-size: 28px;
    		color: $white;
    		text-transform: uppercase;
    		margin: 5px 0 15px;
    		padding: 0;
    	}

    	p {
    		color: #ddd;

    		&.remarks {
    			font-size: 12px;
    			color: #ccc;
    		}
    	}

    	ul, ol {
    		padding-left: 15px;
    		li {
    			color: #ddd;
    			padding: 5px;
    		}
    	}

    }
}

@media (max-width: 767px) {
	.special-section {
		.content-container { 
			padding-top: 40px;
			padding-bottom: 20px;

			h1 {
				font-size: 20px;
			}
			p {
				margin-bottom: 20px;
			}
			ul, ol {
				margin-bottom: 30px;

				li  {
					font-size: 14px;
				}
			}
		}
	}
}